
#section0{
		background-image: url(../img/background.jpg);
		padding: 25% 0 0 0;
		background-repeat:no-repeat;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
		background-position:center;



	}

	#section1{

		width: 100%;
	}

	h1 {
		color: white;
		padding: 0% 0 0 0;
	}

	#actions {

		padding: 5% 0 0 0;*/
		}
	
	.slide{
		background-size: cover;
	}

	#slide1{
		background-image: url(../img/arArt.jpg);
		background-repeat:no-repeat;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
		background-position:center;
		padding: 6% 0 0 0;
	}


	#slide2{
		background-image: url(../img/VRvideo.jpg);
		background-repeat:no-repeat;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
		background-position:center;
		padding: 6% 0 0 0;
	}

.secondnavbar
	{
			top: 70px;
	}






