<!-- NOTES
X combine membership and projects into a 'how to get involved' section
- add links to all pages into the footer, everything is accessible from there 
- total list of pages; club overview, news and awards, officers, projects, maybe a hackathon page, ... -->
<!DOCTYPE html>
<html>
	
	<header>
		<link rel="stylesheet" type="text/css" href="../public/css/site.css">
		<link rel="stylesheet" type="text/css" href="../public/css/row_col_container.css">
		<!-- if testing from the html directly, use the top links, if you loading the server, diable the top and uncomment the bottom -->
		<!-- <link rel="stylesheet" type="text/css" href="css/site.css">
		<link rel="stylesheet" type="text/css" href="css/row_col_container.css"> -->
	</header>
	
	<body>
		
		<!-- NAVBAR -->
		<div class="navbar">
			<div class="container">
				<a class="navbar_logo">VIRTUAL REALITY CLUB at UCSD</a>
				<div class="navbar_links">
					<ul class="navbar_list">
						<li class="navbar_link"><a href="#about">ABOUT</a></li>
						<li class="navbar_link"><a href="#membership">MEMBERSHIP</a></li>|
						<li class="navbar_link"><a href="#schedule">SCHEDULE</a></li>|
						<li class="navbar_link"><a href="#hackathon">HACKATHON</a></li>|
						<li class="navbar_link"><a href="#sponsors">SPONSORS</a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- LANDING -->
		<div class="landing">
			<div class="container">
				<div class="background_container">
				</div>
				<div class="logo"><h2>VIRTUAL REALITY CLUB at UCSD</h2><h5>VR HERE 4 U</h5></div>
			</div>
		</div>

		<!-- ABOUT -->
		<div class="section" id="about">
			<div class="container">
				<div class="row">
					<div class="col s12">
						<h1 class="center">Build. Learn. Explore.</h1>
						<h3>The Virtual Reality Club at UCSD is a student organization at UC San Diego that connects members with the VR / AR industry through workshops, projects, and networking. Our mission is to foster a multidisciplinary community dedicated to exploring and creating Virtual and Augmented Reality experiences.</h3>
					</div>
					<div class="col m12 l6 offset-l3">
						<button>Learn More</button>
					</div>
				</div>
			</div>
		</div>

		<!-- MEMBERSHIP -->
		<div class="section row" id="membership">
			<div class="col s12">
				<div class="container">
					<h1 class="center">Membership</h1>
					<div class="row">
						<div class="col m4">
							<div class="member-card">
								<h3 class="center">General Membership</h3>
								<h4>Being a member is free! Sign up for our newsletter, follow us on Facebook, join us at events. Everyone is encouraged to participate.</h4>
								<button>Sign up for our newsletter</button>
							</div>
						</div>
						<div class="col m4">
							<div class="member-card">
								<h3 class="center">Officers</h3>
								<h4>Want to get more involved? Help us build a community for VR / AR technology at UCSD. Officer positions are for undergraduate students looking to help in event planning, leading workshops, graphic design, and more.</h4>
								<button>See our open positions</button>
							</div>
						</div>
						<div class="col m4">
							<div class="member-card">
								<h3 class="center">Projects</h3>
								<h4>In pursuit of a thriving development community at UCSD in order to learn skills that'll take students into industry, we host a VR Lab and facilitate year-long projects ranging from beginner to advanced developers.</h4>
								<button>Read More</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- SCHEDULE -->
		<div class="section row" id="schedule">
			<div class="col s12">
				<div class="container">
					<h1 class="center">Schedule</h1>
					<h3 class="center">We host a variety of events throughout the year.</h3>
					<div class="row">
						<div class="col s4">
							<div class="calendar-card">
								<h3 class="center">Fall</h3>
								<ul>
									<li>Fall GBM</li>
									<li>SD Hacks - VR Space</li>
									<li>VR Demos - Industry Showcase</li>
									<li>Projects Begin</li>
								</ul>
							</div>
						</div>
						<div class="col s4">
							<div class="calendar-card">
								<h3 class="center">Winter</h3>
								<ul>
									<li>Winter GBM</li>
									<li>HackXR - VR/AR Hackathon</li>
									<li>VR Demos - Project Showcase</li>
								</ul>
							</div>
						</div>
						<div class="col s4">
							<div class="calendar-card">
								<h3 class="center">Spring</h3>
								<ul>
									<li>Spring GBM</li>
									<li>HackXX - VR Space</li>
									<li>VR Demos - Industry Showcase</li>
									<li>VR Demos - Student Showcase</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- HACKATHON -->
		<div class="section" id="hackathon">
			<div class="container">
				<div class="row">
					<div class="col s12">
						<h1 class="center">HackXR</h1>
						<h3 class="center">UCSD's first ever VR/AR hackathon, hosted by the Virtual Reality Club.</h3>
					</div>
					<div class="col m12 l6">
						<button>HackXR Site</button>
					</div>
					<div class="col m12 l6">
						<button>Submissions</button>
					</div>
				</div>
			</div>
		</div>

		<!-- SPONSORSHIP -->
		<div class="section" id="sponsors">
			<div class="container">
				<div class="row">
					<div class="col s12">
						<h1 class="center">Sponsors</h1>
						<h3 class="center">Sponsors, duh</h3>
					</div>
				</div>
			</div>
		</div>

		<div class="footer">
			<div class="container">
				<div class="row">
					<div class="col s7 offset-s1">
						<h3>Links</h3>
						<div class="row">
							<div class="col m6">
								<h4>About</h4>
								<h4>News and Awards</h4>
								<h4>Officers</h4>
								<h4>Projects</h4>
								<h4>HackXR</h4>
							</div>
							<div class="col m6">
								<h4>Facebook</h4>
								<h4>Any other external link</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>

</html>