<html>
	
	<header>
		<link rel="stylesheet" type="text/css" href="../public/css/site.css">
		<link rel="stylesheet" type="text/css" href="../public/css/row_col_container.css">
		<!-- if testing from the html directly, use the top links, if you loading the server, diable the top and uncomment the bottom -->
		<!-- <link rel="stylesheet" type="text/css" href="css/site.css">
		<link rel="stylesheet" type="text/css" href="css/row_col_container.css"> -->
	</header>
	
	<body>
		
		<!-- NAVBAR -->
		<div class="navbar">
			<div class="container">
				<a class="navbar_logo">VIRTUAL REALITY CLUB at UCSD</a>
				<div class="navbar_links">
					<ul class="navbar_list">
						<li class="navbar_link"><a href="#about">ABOUT</a></li>
						<li class="navbar_link"><a href="#schedule">SCHEDULE</a></li>
						<li class="navbar_link"><a href="#projects">PROJECTS</a></li>
						<li class="navbar_link"><a href="#leadership">LEADERSHIP</a></li>
						<li class="navbar_link"><a href="#sponsors">SPONSORS</a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- LANDING -->
		<div class="landing">
			<div class="container">
				<div class="background_container">
				</div>
				<div class="logo"><h2>VIRTUAL REALITY CLUB at UCSD</h2><h5>VR HERE 4 U</h5></div>
			</div>
		</div>

		<!-- ABOUT -->
		<div class="section row" id="about">
			<div class="col s12">
				<div class="container">
					<h1>Mission</h1>
					<h3>This is our mission.</h3>
				</div>
			</div>
		</div>

		<!-- SCHEDULE -->
		<div class="section row" id="schedule">
			<div class="col s12">
				<div class="container">
					<h1>Schedule</h1>
					<div class="row">
						<div class="col s4">
							<h3>Fall</h3>
						</div>
						<div class="col s4">
							<h3>Winter</h3>
						</div>
						<div class="col s4">
							<h3>Spring</h3>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- PROJECTS -->
		<div class="section row" id="projects">
			<div class="col s12">
				<div class="container">
					<h1>Projects</h1>
					<h3>Maybe stuff about projects</h3>
				</div>
			</div>
		</div>

		<!-- LEADERSHIP -->
		<div class="section row" id="leadership">
			<div class="col s12">
				<div class="container">
					<h1>Leadership</h1>
					<h3>Maybe stuff to show up the officer team, how to get involved</h3>
				</div>
			</div>
		</div>

		<!-- SPONSORSHIP -->
		<div class="section row" id="sponsors">
			<div class="col s12">
				<div class="container">
					<h1>Sponsors</h1>
					<h3>Sponsors, duh</h3>
				</div>
			</div>
		</div>

	</body>

</html>