<html>
	
	<header>
		<link rel="stylesheet" type="text/css" href="../public/css/site.css">
		<link rel="stylesheet" type="text/css" href="../public/css/row_col_container.css">
	</header>
	
	<body>
		
		<!-- NAVBAR -->
		<div class="navbar">
			<div class="container">
				<a class="navbar_logo">VIRTUAL REALITY CLUB at UCSD</a>
				<div class="navbar_links">
					<ul class="navbar_list">
						<li class="navbar_link"><a href="#about">ABOUT</a></li>
						<li class="navbar_link"><a href="#schedule">SCHEDULE</a></li>
						<li class="navbar_link"><a href="#projects">PROJECTS</a></li>
						<li class="navbar_link"><a href="#leadership">LEADERSHIP</a></li>
					</ul>
				</div>
			</div>
		</div>

		<!-- LANDING -->
		<div class="landing">
			<div class="container">
				<div class="background_container">
				</div>
				<div class="logo"><h2>VIRTUAL REALITY CLUB at UCSD</h2><h5>VR HERE 4 U</h5></div>
			</div>
		</div>

		<!-- ABOUT -->
		<div class="about">
			<div class="container">ABOUT
			</div>
		</div>

		<!-- SCHEDULE -->
		<div class="schedule">
			<div class="container">SCHEDULE
			</div>
		</div>

		<!-- PROJECTS -->
		<div class="projects">
			<div class="container">PROJECTS
			</div>
		</div>

		<!-- LEADERSHIP -->
		<div class="leadership">
			<div class="container">LEADERSHIP
			</div>
		</div>

	</body>

</html>