/*
Authors: Greg Morgan
Last Edits: 4/23/18
*/

html {

}

body {
	box-sizing: border-box;
	margin: 0;
	line-height: 1.8rem;
}

ul {
	padding: 0;
	margin: 0;
}

h1 {
	display: flex;
	justify-content: center;
	margin-left: auto;
}

h3 {
	display: flex;
	justify-content: center;
	margin-left: auto;
}

.container {
	margin: auto;
	padding: 0 15px;
	display: flex;
	align-items: center;
	-webkit-box-align: center;
	justify-content: space-between;
	-webkit-box-pack: justify;
	width: 960px !important;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
	/*width: 100%;*/
	/*height: 3rem;*/
	background-color: rgba(150,150,150,0.8);
	padding: 10px 15px;
	position: fixed;
	top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

.navbar_logo {
	display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar_links {
	display: inline-flex;
	text-align: right;
	flex-basis: auto;
	flex-grow: 1;
	-webkit-box-flex: 1;
	align-items: center;
	-webkit-box-align: center;
}

.navbar_list {
	display: flex;
	flex-direction: row;
	display: inline-flex;
	list-style: none;
	list-style-type: none;
	text-decoration: none;
	list-style-position: outside;
	margin-left: auto !important;
	padding-left: 0;
	margin-bottom: 0;
}

.navbar_link {
	margin: 5px;
}

.landing {
    min-height: 775px;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    height: 100vh;
    width: 100%;
    padding-top: 50px;
    color: #fff;
    background-position: right bottom;
}

.landing .container {
	height: 100%;
}

.logo {
	color: black;
	text-align: center;
	margin: auto;
}

.section {
	padding-top: 5rem !important;
}

#about .container, #schedule .container, #projects .container, #leadership .container, #sponsors .container {
	display: block !important;
}
}